.client {
	background: url("../img/shutterstock_1146388514.png") no-repeat;
	background-position: center center;
	min-height: 900px;
	.calc__block {
		border-radius: 20px;
		.calc__plus {
			font-size: 2.5rem;
		}
	}
	.max_width_400 {
		max-width: 400px;
	}
	@media (max-width: 981.98px) {
		padding-top: 28rem!important;
		background: none;
		.calc {
			padding-top: 0!important;
		}
	}
}
.client_bg {
	background-color: #F4F4F4;
}