.map {
	position: relative;
	.map__absolute {
		position: absolute;
		right: 0; top: 50px;
		max-width: 464px;
		background-color: #fff;
		.map_left {
			width: 60%;
			p {
				font-size: 1.4rem;
			}
			.map_p {
				color: #676767;
				font-size: 1.4rem;
				span {
					color: #000;
					font-weight: bold;
				}
			}
			a {
				font-size: 1.4rem;
			}
			.map_footer {
				border-top: 1px solid rgba(0, 0, 0, 0.1);
				p {
					font-size: 1rem;
					color: #676767;
				}
			}
		}
		.map_right {
			width: 40%;
		}
	}
	.img__header {
		width: 143px;
	}

	@media (max-width: 981.98px) {
		padding-bottom: 36rem;
		background-color: #fff;
		.map__absolute {
			width: 90%;
			top: 300px;
			left: 50%;
			right: unset;
			transform: translateX(-50%);
			flex-wrap: wrap;
			.map_left {
				width: 100%;
			}
			.map_right {
				width: 100%;
				flex-direction: row!important;
				@media (max-width: 581.98px) {
					flex-direction: column!important;
					img:first-child {
						margin-right: 0!important;
						margin-bottom: 2rem!important;
					}
				}
			}
		}
	}
	@media (max-width: 581.98px) {
		padding-bottom: 50rem;
	}

}