$mainColor: #F2A93D;
html,
body {
  height: 100%;
}
html {
	font-size: 10px;	
	font-style: normal;
	font-weight: normal;
	color: #202020;
	background-color: #fff;
}
body {
	font-family: 'Gilroy', sans-serif;
}

h1 {
	font-weight: 900;
	font-size: 6rem;
	line-height: 110%;
	font-weight: bold;
	color: #FFFFFF;
	margin: 0;
}
h2 {
	font-weight: bold;
	font-size: 4rem;
	line-height: 130%;
	position: relative;
	color: #fff;
	&.header_h2_black {
		font-size: 4.8rem;
		color: #000;
		@media (max-width: 981.98px) {
			font-size: 2.4rem;
		}
	}
}
iframe {
	display: block;
}
.text_zise_48 {
	font-size: 4.8rem!important;
}
.text_zise_36 {
	font-size: 3.6rem!important;
}
.text_zise_32 {
	font-size: 3.2rem!important;
}
.text_zise_24 {
	font-size: 2.4rem!important;
}
h3 {
	font-size: 2.4rem;
	font-weight: bold;
}
p {
	font-size: 1.8rem;
	line-height: 150%;
	color: #000000;
	margin: 0;
}
img.w {
	width: 100%;
	max-width: 100%;
}
a {
	&:hover {
		text-decoration: none;
	}
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold_0.otf') format('opentype'), url('../fonts/Gilroy-ExtraBoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
.bg_white {
	background-color: #fff;
}
.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	.content {
		flex: 1 0 auto;
	}
	.footer {
		flex: 0 0 auto;
	}
}
.container_1_2 {
	width: 100%;
}
@media (min-width: 1200px){
	.container_1_2 {
		max-width: 570px;
		padding: 0 15px 0 30px;
	}
}
@media (max-width: 1200px){
	.container_1_2 {
		max-width: 570px;
		padding: 0 15px 0 30px;
	}
}
@media (max-width: 992px){
	html {
		font-size: 9px;
	}
	.container_1_2 {
		max-width: 480px;
		padding: 0 15px 0 30px;
	}
}
@media (max-width: 768px){
	.container_1_2 {
		max-width: 360px;
		padding: 0 15px 0 30px;
	}
}
@media (max-width: 576px){
	h1 {
		font-size: 4rem;
	}
	h2.header_clear {
		font-size: 3rem;
	}
	.container_1_2 {
		max-width: 270px;
		padding: 0 15px 0 30px;
	}
}

@media (max-width: 991.98px) {
	html {
		font-size: 9px;
	}
}