.form {
	&.form__welcome {
		background-color: #fff;
		border-radius: 4px;
		padding: 3rem 0 1rem 0;
		text-align: center;
		span.form__header {
			font-size: 2.2rem;
			font-weight: bold;
			color: 000;
			display: block;
		}
		p {
			font-size: 1.2rem;
			color: #676767;
		}
		@media (max-width: 981.98px) {
			position: absolute;
			top: 80%; left: 50%;
			transform: translateX(-50%);
			z-index: 10;
			width: 80%;
			box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
		}
	}
	.checkbox { display: none; }
	.checkbox__label {
		cursor: pointer;
		display: inline-block;
		width: 20px;
		height: 20px;
		background: #F4F4F4;
		border: 0;
		border-radius: 4px;
		margin-right: 6px;
		position: relative;
		padding: 2px;
	}
	.checkbox:checked + .checkbox__label:before { 
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		height: 70%;
		content: "";
		background: url("../img/checked.svg") no-repeat;
	}
	.form__info {
		color: #676767;
		font-size: 1rem;
		font-weight: 400;
		text-align: left;
	}
	p.form__info {
		padding-top: 2px;
		font-size: 1rem;
		line-height: 14pt;
	}
	@media (max-width: 981.99px) {
		width: 100%;
	}
	&.form_price {
		background: url("../img/gfrt.png") no-repeat;
		background-position: center center;
		background-size: cover;
		input {
			border-radius: 4px;
			font-size: 1.4rem;
		}
		.checkbox_wrap {
			.form__info, a {
				color: #fff;
				font-size: 1rem;
			}
		}
		.form_lock {
			span {
				color: #fff;
				font-size: 1.6rem;
			}
		}
		@media (max-width: 981.98px) {
		    background-position: 5% center;
		}
	}
}
@media (max-width: 981.99px) {
		
	flex-direction: column;
}
a {
	font-size: 1.4rem;
	line-height: 130%;
	color: #000000;
	&:hover {
		text-decoration: none;
		color: #000;
	}
}
input {
	background: #F4F4F4;
	border: none;
	border-radius: 0;
	padding: 18px 20px;
	font-size: 1.4rem;
	color: #8B8B8B;
	width: 100%;
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #8B8B8B;
	} 
	&::-moz-placeholder {
		color: #8B8B8B;
	}
}
textarea {
	background: #F4F4F4;
	border: none;
	border-radius: 0;
	padding: 18px 20px;
	font-size: 1.4rem;
	color: #8B8B8B;
	width: 100%;
	&:focus{
		outline: none;
	}
	&::-webkit-input-placeholder {
		color: #8B8B8B;
	} 
	&::-moz-placeholder {
		color: #8B8B8B;
	}
}
.form__first_block {
	@media (max-width: 981.98px) {
		flex-direction: column;
		input {
			width: 100%;
		}
	}
}
.form__mod_thrid {
	@media (max-width: 981.98px) {
		flex-wrap: wrap;
		input {
			width: 48%;
		}
	}
}
.form__mod_submit {
	@media (max-width: 981.98px) {
		flex-direction: column;
	}
}
