.btn {
	min-width: 160px;
	box-shadow: 0px 3px 8px rgba(242, 169, 61, 0.77);
	color: #000;
	background: $mainColor;
	border-radius: 100px;
	font-size: 1.67rem;
	line-height: 130%;
	text-align: center;
	padding: 13px 20px;
	&.btn__down {
		transform: translateY(70%);
		width: 190px;
	}
	&.btn__phone {
		color: #fff;
		text-transform: uppercase;
		background-color: rgba(242, 169, 61, 0.36);
		border: 1px solid #F2A93D;
		font-size: 1.4rem;
		@media (max-width: 399.98px) {
			font-size: 1rem;
		}
	}
	&.btn_callback_me {
		border: 0;
		background: none;
		text-transform: uppercase;
		border-bottom: 2px solid #fff;
		box-shadow: unset;
		border-radius: 0;
		padding: 5px 0px;min-width: unset;
		color: #fff;
	}
	&.btn__contact {
		font-size: 1.6rem;
		max-width: 260px;
		width: auto;
		color: $mainColor;
		background: none;
		box-shadow: none;
		border: 1px solid $mainColor;
	}
}
.btn_to_top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn_to_top_content {
		width: 50px;
		height: 50px;
		background-color: #C2C2C2;
		border-radius: 100%;
	}
	.btn_to_top_text {
		padding-top: 1rem;
		display: block;
		text-align: center;
		font-size: 1.2rem;
		text-transform: uppercase;
		font-weight: bold;
		color: #C2C2C2;
		letter-spacing: 0px;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}