.modal-content {
	border-radius: 8px;
	.modal-header {
		border: unset;
		button {
			span {
				font-size: 4rem
			}
			
		}
	}
	.modal-body {
		padding: 0 2rem 5rem 2rem;		
	}
	.form {
		.form__left {
			width: 100%;
			background-color: transparent;
			span {
				font-size: 1.8rem;
				line-height: 130%;
				text-align: center;
				color: #202020;
				display: block;
			}
			.modal__header {
				font-weight: 900;
				font-size: 2.4rem;
				line-height: 130%;
				text-align: center;
				color: #202020;
			}
		}

		input {
			border: 1px solid #444444;
			background-color: transparent;
			width: 100%;
			padding: 10px 20px;
			&:focus{
				outline: none;
			}
			&::-webkit-input-placeholder {
				color: #C4C4C4;
			} 
			&::-moz-placeholder {
				color: #C4C4C4;
			}
		}
		textarea {
			border: 1px solid #444444;
			background-color: transparent;
			width: 100%;
			padding: 10px 20px;
			&:focus{
				outline: none;
			}
			&::-webkit-input-placeholder {
				color: #C4C4C4;
			} 
			&::-moz-placeholder {
				color: #C4C4C4;
			}
		}
	}
	
}