.footer {
	background-color: #F4F4F4;
	border-top: 4px solid $mainColor;
	padding-top: 40px;
	
	.footer__first {
		a {
			color: $mainColor;
			font-size: 1.2rem;
		}
		p {
			color: #676767;
			font-size: 1.4rem;
			&.footer__dop {
				color: #ACACAC;
			}
		}
	}
	.footer__second {
		.footer__header {
			box-sizing: unset;
			display: block;
			min-height: 52px;
			font-size: 1.2rem;
			font-weight: bold;
			color: #000;
			text-transform: uppercase;
		}
		a {
			font-size: 1.5rem;
			color: #676767;
		}
	}
	.footer__third {
		p {
			font-size: 1.4rem;
			color: #676767;
		}
		a {
			font-size: 1.4rem;
			color: #676767;
		}
		.btn__phone {
			&.footer__header {
				box-sizing: border-box;
				min-width: unset;
				background: rgba(242, 169, 61, 0.05);
				width: auto!important;
				.phone {
					color: #000;
					font-size: 1.6rem;
				}
			}
		}
		@media (max-width: 981.98px) {
			align-items: center!important;
		}
	}
	@media (max-width: 981.98px) {
		.row {
			text-align: center;
			.footer__header {
				text-align: center;
				justify-content: center!important;
			}
		}
	}
}