.beri__about {
	background-color: #fff;
	p {
		font-size: 1.6rem;
		color: #000;
		&.beri__about_header {
			font-size: 2.4rem;
			font-weight: bold;
			line-height: 140%;
		}
	}
	span {
		font-size: 1.6rem;
		color: #676767;
	}
	.beri__about_name {
		font-size: 1.4rem;
		font-weight: bold;
		color: #000;
	}
	.beri__about_item {
		p {
			line-height: 24px;
		}
		img {
			width: 16px;
		}
	}
}