doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap&subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="css/main.min.css")
		title New project
	body
		div(class="page")
			header(class="pb-4")
				div(class="container")
					div(class="row")
						div(class="col-12")
							nav(class="navbar navbar-expand-lg navbar-light d-flex justify-content-between p-0 pt-5")
								div(class="d-flex align-items-end navbar_wrap_logo")
									a(class="navbar-brand" href="#")
										img(class="lazyload" data-src="img/logo.svg" alt="logo")
									div(class="flag d-none d-lg-flex align-items-center pl-3 pb-1")
										img(class="lazyload" data-src="img/maps-and-flags.svg" alt="img")
										span(class="flag__name pl-2")
											| Москва
								div(class="collapse navbar-collapse" id="navbar")
									ul(class="navbar-nav w-100 d-flex justify-content-center pt-5 pt-lg-0")
										li(class="d-flex justify-content-center nav-item active dropdown")
											a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
												| Покупка
											div(class="dropdown-menu" aria-labelledby="navbarDropdown")
												a(class="dropdown-item" href="#")
													| 1
												a(class="dropdown-item" href="#")
													| 2
												a(class="dropdown-item" href="#")
													| 3
										li(class="d-flex justify-content-center nav-item mx-0 mx-lg-5")
											a(class="nav-link" href="#")
												| Агентствам
										li(class="d-flex justify-content-center nav-item dropdown")
											a(class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
												| О компании
											div(class="dropdown-menu" aria-labelledby="navbarDropdown")
												a(class="dropdown-item" href="#")
													| 1
												a(class="dropdown-item" href="#")
													| 2
												a(class="dropdown-item" href="#")
													| 3
								div(class="d-flex align-items-center")
									div(class="d-flex flex-column align-items-end")
										a(class="btn btn__phone d-flex align-items-center p-3"  href="tel:+74959685699")
											img(src="img/telephone.svg" alt="img")
											span(class="phone pl-3")
												| +7 495 968-56-99
										button(class="btn btn_callback_me mr-4 mt-2 d-none d-lg-block")
											| ПЕРЕЗВОНИТЕ МНЕ
									button(class="navbar-toggler ml-3" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="toggle navigation")
											img(class="lazyload" data-src="img/mobilemenu.svg" alt="logo")

			div(class="content")
				div(class="welcome")
					div(class="welcome_front d-flex flex-column justify-content-center")
						div(class="container")
							div(class="row ")
								div(class="col-12 col-lg-8 d-flex flex-column justify-content-end")
									h1
										| Мы купим или обменяем вашу квартиру в Москве.
									h2(class="m-0")
										| Просто. Быстро. Безопасно
								div(class="col-12 col-lg-4 position-static")
									div(class="form form__welcome")
										span(class="form__header px-3")
											| Узнать стоимость квартиры
										p(class="m-0 py-3 px-5")
											| Заполните форму и получите бесплатно оценку Вашей квартиры за 1 час
										form(class="px-5")
											input(class="mb-3" type="text" name="firstname" placeholder="Ваше имя")
											input(class="" type="tel" name="phone" placeholder="Номер телефона")
											div(class="d-flex align-items-start justify-content-center pt-5")
												label(class="m-0")
													input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
													span(for="checkbox" class="checkbox__label")
												p( class="form__info")
													| Я согласен на обработку персональных данных в соответствие с 
													a(href="#" class="form__info")
														| политикой конфиденциальности
											button(type="submit" class="btn btn__down")
												| Заказать оценку
				div(class="container py-5 block_second")
					div(class="row")
						div(class="col-12")
							h2(class="header_h2_black text-center py-5")
								| Этапы продажи квартиры
					div(class="row py-5")
						div(class="col-6 col-lg-3 step")
							div(class="step_wrap")
								div(class=" text-center")
									img(class="lazyload" data-src="img/step1.png" alt="img")
									div(class="step__absolute")
										span
											| 01
									p(class="text-center d-inline-block")
										| Оставляете заявку на сайте
						div(class="col-6 col-lg-3 step")
							div(class="step_wrap")
								div(class="text-center")
									img(class="lazyload" data-src="img/step2.png" alt="img")
									div(class="step__absolute")
										span
											| 02
									p(class="text-center d-inline-block")
											| Осмотр и оценка<br>квартиры
						div(class="col-6 col-lg-3 step")
							div(class="step_wrap")
								div(class="text-center")
									img(class="lazyload" data-src="img/step3.png" alt="img")
									div(class="step__absolute")
										span
											| 03
									p(class="text-center d-inline-block")
											| Юридическая проверка<br>квартиры
						div(class="col-6 col-lg-3 step")
							div(class="step_wrap")
								div(class="text-center")
									img(class="lazyload" data-src="img/step4.png" alt="img")
									div(class="step__absolute")
										span
											| 04
									p(class="text-center d-inline-block")
											| Согласование цены
						div(class="col-6 col-lg-3 step")
							div(class="step_wrap")
								div(class="text-center")
									img(class="lazyload" data-src="img/step5.png" alt="img")
									div(class="step__absolute")
										span
											| 05
									p(class="text-center d-inline-block")
											| Подписание договора
						div(class="col-6 col-lg-3 step")
							div(class="step_wrap")
								div(class="text-center")
									img(class="lazyload" data-src="img/step6.png" alt="img")
									div(class="step__absolute")
										span
											| 06
									p(class="text-center d-inline-block")
											| Перевод денег<br>на аккредитив
						div(class="col-6 col-lg-3 step")
							div(class="step_wrap")
								div(class="text-center")
									img(class="lazyload" data-src="img/step7.png" alt="img")
									div(class="step__absolute")
										span
											| 07
									p(class="text-center d-inline-block")
											| Оформление сделки в МФЦ<br>или у нотариуса
						div(class="col-6 col-lg-3 step")
							div(class="step_wrap")
								div(class="text-center")
									img(class="lazyload" data-src="img/step8.png" alt="img")
									div(class="step__absolute")
										span
											| 08
									p(class="text-center d-inline-block")
											| Получение денег со счета<br>аккредитива
				div(class="whenToContact")
					div(class="container pb-5")
						div(class="row py-5")
							div(class="col-12 py-5")
								h2(class="header_h2_black text_zise_36")
									| Когда стоит обращаться в Beri.ru
						div(class="row")
							div(class="col-12 pb-4")
								div(class="whenToContact__item p-5 d-flex justify-content-start align-items-center")
									img(class="lazyload img-fluid" data-src="img/q1.png" alt="img")
									div(class="d-flex flex-column pl-lg-5 pt-3 pt-lg-0")
										h3
											| Переезд
										p
											| У клиента нет времени совершать показы и ждать подходящего покупателя. Он гарантированно продает свою квартиру в обходимый ему срок.
							div(class="col-12 pb-4")
								div(class="whenToContact__item p-5 d-flex justify-content-start align-items-center")
									img(class="lazyload img-fluid" data-src="img/q2.png" alt="img")
									div(class="d-flex flex-column pl-lg-5 pt-3 pt-lg-0")
										h3
											| Долги по ипотеке
										p
											| Накопился долг по услугам ЖКХ или ипотеке, погасить который собственными силами нет возможности. Необходима продажа квартиры с погашением долга.
							div(class="col-12 pb-4")
								div(class="whenToContact__item p-5 d-flex justify-content-start align-items-center")
									img(class="lazyload img-fluid" data-src="img/q3.png" alt="img")
									div(class="d-flex flex-column pl-lg-5 pt-3 pt-lg-0")
										h3
											| Должи по ЖКХ
										p
											| Квартира продаётся уже не один месяц и покупатель устал от постоянных показов и звонков.
							
							div(class="accordion w-100 pb-5" id="accordionContact")
								div(id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionContact")
									div(class="card-body p-0")
										div(class="col-12 pb-4")
											div(class="whenToContact__item p-5 d-flex justify-content-start align-items-center")
												img(class="lazyload img-fluid" data-src="img/me1.png" alt="img")
												div(class="d-flex flex-column pl-lg-5 pt-3 pt-lg-0")
													h3
														| Покупка другой недвижимости
													p
														| Объект для переезда уже выбран и, чтобы не упустить его, необходимо оперативно реализовать свою квартиру.
										div(class="col-12 pb-4")
											div(class="whenToContact__item p-5 d-flex justify-content-start align-items-center")
												img(class="lazyload img-fluid" data-src="img/me2.png" alt="img")
												div(class="d-flex flex-column pl-lg-5 pt-3 pt-lg-0")
													h3
														| Наследство
													p
														| Квартира досталась в наследство и нет возможности постоянно её показывать.
										div(class="col-12 pb-4")
											div(class="whenToContact__item p-5 d-flex justify-content-start align-items-center")
												img(class="lazyload img-fluid" data-src="img/me3.png" alt="img")
												div(class="d-flex flex-column pl-lg-5 pt-3 pt-lg-0")
													h3
														| Бизнес
													p
														| Квартира покупалась в качестве инвестиции и сдавалась в аренду. Необходимо вернуть деньги для вложения в бизнес.
								div(class="card d-flex flex-row justify-content-center pt-5")
									button(class="btn btn__contact mt-5" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
										| Посмотреть все причины
				div(class="bg_white")
					div(class="container py-5")
						div(class="row")
							div(class="col-12 text-center")
								h2(class="header_h2_black")
									| Почему c Beri.ru выгодно?
								p
									| Сравним продажу Beri.ru и обычную продажу на примере квартиры
						div(class="row calc pt-5 align-items-stretch justify-content-center")
							div(class='col-6 col-lg-4 p-4 position-static')
								div(class="calc_wrap border_none")
									p(class="pb-3 text-center")
										| Введите стоимость квартиры
									form(class="d-flex calc__form")
										input(type="text" name="cell")
										button(type="submit" class="btn")
											| Расчитать
									div(class="d-block d-lg-none py-4")
										div(class="d-flex justify-content-between align-items-center")
											span(class="mr-4")
												| Продажа через:
											div(class="select__price d-flex justify-content-center align-items-start")
												div(class="select__price_abs")
													div(class=" select__price_wrap")
														div(class="select__item" data-id="1")
															img(class="lazyload img-fluid" data-src="img/logo_black.svg" alt="img")
														div(class="select__item" data-id="2")
															p
																| Обыяная продажа
												img(class="lazyload img__arrow mt-2" data-src="img/down-arrow.svg" alt="img")
								div()
									div(class="calc__item d-flex align-items-center")
										img(class="lazyload" data-src="img/calc1.svg" alt="img")
										span(class="pl-3")
											| Сроки продажи
									div(class="calc__item d-flex align-items-center")
										img(class="lazyload" data-src="img/calc2.svg" alt="img")
										span(class="pl-3")
											| Получение денег
									div(class="calc__item d-flex align-items-center")
										img(class="lazyload" data-src="img/calc3.svg" alt="img")
										span(class="pl-3")
											| Показы квартиры
									div(class="calc__item d-flex align-items-center")
										img(class="lazyload" data-src="img/calc4.svg" alt="img")
										span(class="pl-3")
											| Комиссия за услуги
									div(class="calc__item d-flex align-items-center")
										img(class="lazyload" data-src="img/calc8.svg" alt="img")
										span(class="pl-3")
											| Снижение стоимости за срочность продажи
									div(class="calc__item d-flex align-items-center")
										img(class="lazyload" data-src="img/calc5.svg" alt="img")
										span(class="pl-3")
											| Потеря стоимости за время продажи
									div(class="calc__item d-flex align-items-center")
										img(class="lazyload" data-src="img/calc6.svg" alt="img")
										span(class="pl-3")
											| Торг
									div(class="calc__item d-flex align-items-center")
										img(class="lazyload" data-src="img/calc7.svg" alt="img")
										span(class="pl-3")
											| Квартплата
									div(class="calc__item d-flex align-items-center")
										img(class="lazyload" data-src="img/calc9.svg" alt="img")
										span(class="pl-3")
											| Налог на недвижимость
									div(class="calc__item calc__item_footer d-flex justify-content-start align-items-center py-4 pl-3")
										span(class="calc__item_footer_final pl-3")
											| Итог
							div(class="calc__hid calc_tab col-6 col-lg-3" data-select="1")
								div(class="p-4 calc_beri")
									div(class="calc_wrap d-none d-lg-flex justify-content-start align-items-center")
										img(class="lazyload" data-src="img/beri.ru.svg" alt="img")
									div()
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 3 дня
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| Через 7 дней
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 1
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 0 &#8381;
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 10-15%, 960 000 &#8381;
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 0 &#8381;
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 0 &#8381;
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 0 &#8381;
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 0 &#8381;
										div(class="calc__item calc__item_footer d-flex flex-column align-items-start py-4 pl-3")
											span(class=" ")
												| Деньги на руки
											div()
												span(class="calc__item_footer_final calc__val")
													| 7 040 000 
												span(class="calc__item_footer_final")
													| &#8381;
											div
												img(src="img/clock-circular-outline.svg" alt="img")
												span(class="calc__item_footer_time pl-3")
													| через 3 дня
							div(class="calc__hid calc_tab calc__hid_none col-6 col-lg-3  d-none d-lg-block" data-select="2")
								div(class="p-4 calc_simple")
									div(class="calc_wrap d-none d-lg-flex justify-content-start align-items-center")
										h2(class=" header_h2_black text_zise_24")
											| Обычная продажа
									div()
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 150 дней
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 164 дня (150 дней продажи + 14 дней оформления сделки)
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| До 25
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 3%, 240 000 &#8381;
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 0
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 1%, 80 000 &#8381;
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 5-7%, до 400 000 &#8381;
										div(class="calc__item d-flex align-items-center")
											span(class="pl-3 calc__val")
												| 0,5%, до 40 000 &#8381;
										div(class="calc__item d-flex align-items-center")
											span(class=" pl-3 calc__val")
												| 0,1%, 8000 &#8381;
										div(class="calc__item calc__item_footer d-flex flex-column align-items-start py-4 pl-3")
											span(class=" ")
												| Деньги на руки
											div()
												span(class="calc__item_footer_final calc__val")
													| 7 232 000 
												span(class="calc__item_footer_final")
													| &#8381;
											div
												img(class="lazyload" data-src="img/clock-circular-outline-black.svg" alt="img")
												span(class="calc__item_footer_time pl-3")
													| через 164 дня
						div(class="row calc calc_no_pad py-5 ")
							div(class="col-12 col-lg-5")
								div(class="calc__block p-5 d-flex h-100")
									p(class="calc__plus")
										| +
									p(class="calc__description pl-4")
										| Мы не даем пустые обещания, что “квартира вот-вот продастся и нужно немного подождать”.
							div(class="col-12 col-lg-5 pt-4 pt-lg-0")
								div(class="calc__block p-5 d-flex h-100")
									p(class="calc__plus")
										| +
									p(class="calc__description pl-4")
										| Мы выкупаем вашу квартиру сами, на свои собственные средства. Деньги вы получите через 3 дня после согласования условий и подписания договора.
				div(class="form form_price py-5")
					div(class="container py-5")
						div(class="row py-5 align-items-end")
							div(class="col-12 col-lg-6 pb-4 pb-lg-0")
								h2
									| Узнать стоимость, которую мы заплатим за Вашу квартиру
							div(class="col-12 col-lg-6 p-lg-0")
								form(class="")
									div(class="form__first_block d-flex pb-4")
										input(type="text" class="mr-lg-3" placeholder="Ваше имя")
										input(type="tel" class="ml-lg-3 mt-4 mt-lg-0" placeholder="Номер телефона")
									input(class="mb-4" type="text" placeholder="Адрес квартиры")
									div(class="form__mod_thrid d-flex pb-4")
										input(type="number" placeholder="Этаж" class="mb-4 mb-lg-0")
										input(type="number" class=" mb-4 mb-lg-0 mx-lg-3 ml-3 ml-lg-0" placeholder="Кол-во комнат")
										input(type="number" placeholder="Общая площадь, м2")
									div(class="checkbox_wrap d-flex align-items-start justify-content-start pt-5")
										label(class="m-0")
											input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
											span(for="checkbox" class="checkbox__label")
										p( class="form__info")
											| Я согласен на обработку персональных данных в соответствие с 
											a(href="#" class="form__info")
												| политикой конфиденциальности
									div(class="form__mod_submit d-flex pt-5 justify-content-start")
										button(class="btn mb-4 mb-lg-0  " type="submit")
											| Запросить цену
										div(class="form_lock d-flex align-items-center pl-0 px-lg-5")
											img(class="lazyload" data-src="img/lock.svg" alt="img")
											span(class="pl-3 ")
												| Все ваши данные надежно защищены
				div(class="container-fluid warning__info")
					div(class="container py-5")
						div(class="row")
							div(class="col-12 text-center py-5")
								h2(class="header_h2_black")
									| Важная информация
						div(class="row py-5 d-block d-lg-none slider_warning_mobile")
							div(class="d-flex justify-content-center")
								div(class="col-10 pb-5")
									div(class="warning__info_item d-flex flex-column align-items-center justify-content-between p-5")
										img(class="lazyload" data-src="img/fast.svg" alt="img")
										div
											h3(class="text-center pt-5 pb-2")
												| Быстро
											p(class="text-center")
												| От подачи заявки до получения денег 3-5 дней
							div(class="d-flex justify-content-center")
								div(class="col-10 pb-5")
									div(class="warning__info_item d-flex flex-column align-items-center justify-content-between p-5")
										img(class="lazyload" data-src="img/shield.svg" alt="img")
										div
											h3(class="text-center pt-5 pb-2")
												| Безопасно
											p(class="text-center")
												| Сделка в МФЦ. Деньги через банк. Юридическая проверка.
							div(class="d-flex justify-content-center")
								div(class="col-10 pb-5")
									div(class="warning__info_item d-flex flex-column align-items-center justify-content-between p-5")
										img(class="lazyload" data-src="img/conversation.svg" alt="img")
										div
											h3(class="text-center pt-5 pb-2")
												| Удобно
											p(class="text-center")
												| Никаких звонков, показов и ожидания клиента.
							div(class="d-flex justify-content-center")
								div(class="col-10 pb-5")
									div(class="warning__info_item d-flex flex-column align-items-center justify-content-between p-5")
										img(class="lazyload" data-src="img/approved.svg" alt="img")
										div
											h3(class="text-center pt-5 pb-2")
												| Гарантия сделки 100%
											p(class="text-center")
												| Цена и сроки зафиксированы в договоре
							div(class="d-flex justify-content-center")
								div(class="col-10 pb-5")
									div(class="warning__info_item d-flex flex-column align-items-center justify-content-between p-5")
										img(class="lazyload" data-src="img/conversation2.svg" alt="img")
										div
											h3(class="text-center pt-5 pb-2")
												| Решим проблемы
											p(class="text-center")
												| Закроем долги, снимем обременения и т.д.
							div(class="d-flex justify-content-center")
								div(class="col-10 pb-5")
									div(class="warning__info_item d-flex flex-column align-items-center justify-content-between p-5")
										img(class="lazyload" data-src="img/package.svg" alt="img")
										div
											h3(class="text-center pt-5 pb-2")
												| Помогаем с переездом
											p(class="text-center")
												| Организация переезда в подарок
						div(class="row py-5 d-none d-lg-flex justify-content-center")
							div(class="col-6 col-lg-4 pb-5")
								div(class="warning__info_item d-flex flex-column align-items-center justify-content-between p-5")
									img(class="lazyload" data-src="img/fast.svg" alt="img")
									div
										h3(class="text-center pt-5 pb-2")
											| Быстро
										p(class="text-center")
											| От подачи заявки до получения денег 3-5 дней
							div(class="col-6 col-lg-4 pb-5")
								div(class="warning__info_item d-flex flex-column align-items-center justify-content-between p-5")
									img(class="lazyload" data-src="img/shield.svg" alt="img")
									div
										h3(class="text-center pt-5 pb-2")
											| Безопасно
										p(class="text-center")
											| Сделка в МФЦ. Деньги через банк. Юридическая проверка.
							div(class="col-6 col-lg-4 pb-5")
								div(class="warning__info_item d-flex flex-column align-items-center justify-content-between p-5")
									img(class="lazyload" data-src="img/conversation.svg" alt="img")
									div
										h3(class="text-center pt-5 pb-2")
											| Удобно
										p(class="text-center")
											| Никаких звонков, показов и ожидания клиента.
							div(class="col-6 col-lg-4 pb-5")
								div(class="warning__info_item d-flex flex-column align-items-center justify-content-between p-5")
									img(class="lazyload" data-src="img/approved.svg" alt="img")
									div
										h3(class="text-center pt-5 pb-2")
											| Гарантия сделки 100%
										p(class="text-center")
											| Цена и сроки зафиксированы в договоре
							div(class="col-6 col-lg-4 pb-5")
								div(class="warning__info_item d-flex flex-column align-items-center justify-content-between p-5")
									img(class="lazyload" data-src="img/conversation2.svg" alt="img")
									div
										h3(class="text-center pt-5 pb-2")
											| Решим проблемы
										p(class="text-center")
											| Закроем долги, снимем обременения и т.д.
							div(class="col-6 col-lg-4 pb-5")
								div(class="warning__info_item d-flex flex-column align-items-center justify-content-between p-5")
									img(class="lazyload" data-src="img/package.svg" alt="img")
									div
										h3(class="text-center pt-5 pb-2")
											| Помогаем с переездом
										p(class="text-center")
											| Организация переезда в подарок
				div(class="container-fluid client_bg")
					div(class="container py-5")
						div(class="row py-5")
							div(class="col-12 py-5")
								h2(class="header_h2_black text-center")
									| Довольные клиенты о Beri.ru
						div(class="row")
							div(class="col-12")
								div(class="click_slider slider_client")
									div(class="d-flex justify-content-center align-items-center p-3")
										a(class="slider__item p-3"  data-toggle="modal" data-target="#ModalSliderItem")
											div(class="slider__preview d-flex justify-content-center")
												img(src="img/anthony-tran-1133321-unsplash.png" class="img-fluid" alt="png")
											div(class="slider__content d-flex align-items-start pt-3")
												img(class="lazyload" data-src="img/ap.svg" alt="img")
												p(class="pl-3")
													| «Повседневная практика показывает, что укрепление и развитие структуры играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.»
									div(class="d-flex justify-content-center align-items-center p-3")
										a(class="slider__item p-3" href="#")
											div(class="slider__preview d-flex justify-content-center")
												img(src="img/anthony-tran-1133321-unsplash.png" class="img-fluid" alt="png")
											div(class="slider__content d-flex align-items-start pt-3")
												img(class="lazyload" data-src="img/ap.svg" alt="img")
												p(class="pl-3")
													| «Повседневная практика показывает, чтомы обучения кадров, соответствует насущным потребностям.»
									div(class="d-flex justify-content-center align-items-center p-3")
										a(class="slider__item p-3" href="#")
											div(class="slider__preview d-flex justify-content-center")
												img(src="img/anthony-tran-1133321-unsplash.png" class="img-fluid" alt="png")
											div(class="slider__content d-flex align-items-start pt-3")
												img(class="lazyload" data-src="img/ap.svg" alt="img")
												p(class="pl-3")
													| «Повседневная практика показывает, что укрепление и развитие структуры играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.»
									div(class="d-flex justify-content-center align-items-center p-3")
										a(class="slider__item p-3" href="#")
											div(class="slider__preview d-flex justify-content-center")
												img(src="img/anthony-tran-1133321-unsplash.png" class="img-fluid" alt="png")
											div(class="slider__content d-flex align-items-start pt-3")
												img(class="lazyload" data-src="img/ap.svg" alt="img")
												p(class="pl-3")
													| «Повседневная практика показывает, что укрепление и развитие структуры играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.»
				div(class="container-fluid beri__about py-5")
					div(class="container py-5")
						div(class="row align-items-start pb-5")
							div(class=" col-12 col-lg-5")
								div(class="pb-5")
									img(class="lazyload img-fluid" data-src="img/ap.svg" alt="img")
									p(class="beri__about_header pb-4")
										| Beri.ru – инновационная компания на рынке недвижимости готовая купить Вашу квартиру по выгодной цене.
								p
									| Мы поможем подготовить все необходимые документы и оформить сделку. Теперь продажа квартиры стала простой, быстрой и безопасной.
								div(class="d-flex justify-content-between pt-5")
									div(class="d-flex flex-column justify-content-start align-items-start")
										img(class="lazyload img-fluid" data-src="img/sign.svg" alt="img")
										span(class="pt-3")
											| — Основатель «Beri.ru»
									div(class="d-flex align-items-center")
										img(class="lazyload" data-src="img/ruslan.png" alt="img")
										span(class="beri__about_name pl-3")
											| Руслан<br>Мухаметов
							div(class="col-12 col-lg-6 offset-lg-1 pt-5 pt-lg-0")
								img(class="lazyload img-fluid mb-5" data-src="img/logo_black.svg" alt="logo")
								div(class="pt-5")
									div(class="beri__about_item d-flex align-items-start")
										img(class="lazyload img-fluid" data-src="img/checked.svg" alt="img")
										p(class="pl-3 pb-4")
											| Первый специализированный сервис по покупке квартир на рынке Москвы
									div(class="beri__about_item d-flex align-items-start")
										img(class="lazyload" data-src="img/checked.svg" alt="img")
										p(class="pl-3 pb-4")
											| Сервис Beri.ru основан в 2017 году
									div(class="beri__about_item d-flex align-items-start")
										img(class="lazyload" data-src="img/checked.svg" alt="img")
										p(class="pl-3 pb-4")
											| На начало 2019 года через наш сервис прошло более 100 сделок
									div(class="beri__about_item d-flex align-items-start")
										img(class="lazyload" data-src="img/checked.svg" alt="img")
										p(class="pl-3 pb-4")
											| Банковская гарантия – перечисляем деньги на аккредитив до регистрации передачи прав собственности
									div(class="beri__about_item d-flex align-items-start")
										img(class="lazyload" data-src="img/checked.svg" alt="img")
										p(class="pl-3 pb-4")
											| Выкупаем квартиры целиком. Комнаты и доли в квартирах не рассматриваем
				div(class="container-fluid beri__partners py-5")
					div(class="container py-5")
						div(class="row py-5")
							div(class="col-12 text-center")
								h2(class="header_h2_black")
									| Партнёры Beri.ru
						div(class="row")
							div(class="col-12")
								div(class="carouselPartners")
									div(class="partners__item px-3 h-100")
										div(class="d-flex align-items-center")
											img(class="lazyload" data-src="img/partners1.png" alt="img")
									div(class="partners__item px-3 h-100")
										div(class="d-flex align-items-center")
											img(class="lazyload" data-src="img/partners2.png" alt="img")
									div(class="partners__item px-3 h-100")
										div(class="d-flex align-items-center")
											img(class="lazyload" data-src="img/partners3.png" alt="img")
									div(class="partners__item px-3 h-100")
										div(class="d-flex align-items-center")
											img(class="lazyload" data-src="img/partners4.png" alt="img")
									div(class="partners__item px-3 h-100")
										div(class="d-flex align-items-center")
											img(class="lazyload" data-src="img/partners5.png" alt="img")
									div(class="partners__item px-3 h-100")
										div(class="d-flex align-items-center")
											img(class="lazyload" data-src="img/partners1.png" alt="img")
									div(class="partners__item px-3 h-100")
										div(class="d-flex align-items-center")
											img(class="lazyload" data-src="img/partners2.png" alt="img")
									div(class="partners__item px-3 h-100")
										div(class="d-flex align-items-center")
											img(class="lazyload" data-src="img/partners3.png" alt="img")
									div(class="partners__item px-3 h-100")
										div(class="d-flex align-items-center")
											img(class="lazyload" data-src="img/partners4.png" alt="img")
									div(class="partners__item px-3 h-100")
										div(class="d-flex align-items-center")
											img(class="lazyload" data-src="img/partners5.png" alt="img")
				div(class="container-fluid question")
					div(class="container py-5")
						div(class="row py-5")
							div(class="col-12")
								h2(class="header_h2_black text_zise_48 text-center")
									| Остались вопросы?
						div(class="row justify-content-center")
							div(class="col-12 col-lg-8")
								div(class="accordion" id="accordionQuestion")
									div(class="card p-4")
										div(class="card-header d-flex justify-content-between align-items-center collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
											h3
												| Я сам продам квартиру дороже
											div(class="card__arrow d-flex align-items-center justify-content-center")
												<svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
													<g id="arrow-up" transform="translate(-1035.793 -4349.188)">
													<g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
														<path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
													</g>
													</g>
												</svg>

										div(id="collapseOne" class="collapse " aria-labelledby="headingOne" data-parent="#accordionQuestion")
											div(div class="card-body")
												p(class="pb-3")
													| Самостоятельная продажа - это долгий процесс, сопряженный с потерей времени и денег, а также риском столкнуться с мошенниками.
												p
													| Компания Beri.ru предлагает удобный сервис, где Вы гарантированно продадите квартиру по приближенной к рынку цене всего за 3 дня, без каких-либо рисков.
									div(class="card p-4")
										div(class="card-header d-flex justify-content-between align-items-center collapsed" id="headingOne" data-toggle="collapse" data-target="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo")
											h3
												| Я лучше продам через риелтора
											div(class="card__arrow d-flex align-items-center justify-content-center")
												<svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
													<g id="arrow-up" transform="translate(-1035.793 -4349.188)">
													<g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
														<path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
													</g>
													</g>
												</svg>

										div(id="collapsetwo" class="collapse " aria-labelledby="headingOne" data-parent="#accordionQuestion")
											div(div class="card-body")
												p(class="pb-3")
													| Самостоятельная продажа - это долгий процесс, сопряженный с потерей времени и денег, а также риском столкнуться с мошенниками.
												p
													| Компания Beri.ru предлагает удобный сервис, где Вы гарантированно продадите квартиру по приближенной к рынку цене всего за 3 дня, без каких-либо рисков.
									div(class="card p-4")
										div(class="card-header d-flex justify-content-between align-items-center collapsed" id="headingOne" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree")
											h3
												| Я опасаюсь обмана
											div(class="card__arrow d-flex align-items-center justify-content-center")
												<svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
													<g id="arrow-up" transform="translate(-1035.793 -4349.188)">
													<g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)" opacity="0.303">
														<path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"/>
													</g>
													</g>
												</svg>

										div(id="collapsethree" class="collapse " aria-labelledby="headingOne" data-parent="#accordionQuestion")
											div(div class="card-body")
												p(class="pb-3")
													| Самостоятельная продажа - это долгий процесс, сопряженный с потерей времени и денег, а также риском столкнуться с мошенниками.
												p
													| Компания Beri.ru предлагает удобный сервис, где Вы гарантированно продадите квартиру по приближенной к рынку цене всего за 3 дня, без каких-либо рисков.
						div(class="row py-5")
							div(class="col-12 pt-5")
								h2(class="header_h2_black text_zise_32 text-center")
									| Задайте свой вопрос
						div(class="row justify-content-center pb-5")
							div(class="col-12 col-lg-8 pb-5")
								form(class="form")
									textarea(placeholder="Напишите что вас волнует…" class="mb-4" rows="8")
									div(class="question__wrap d-flex")
										input(type="tel" placeholder="Введите свой телефон")
										input(class="mx-0 mx-lg-4 my-4 my-lg-0" type="email" placeholder="Введите свой E-mail")
										button(class="btn" type="submit")
											| Отправить
									div(class="checkbox_wrap d-flex align-items-start justify-content-start pt-5")
										label(class="m-0")
											input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
											span(for="checkbox" class="checkbox__label")
										p( class="form__info")
											| Я согласен на обработку персональных данных в соответствие с 
											a(href="#" class="form__info")
												| политикой конфиденциальности
				div(class="map")
					iframe(src="https://yandex.ru/map-widget/v1/?um=constructor%3A4e68915b5df140863e9d1ca897ba4f7e129cde00cbda5ba8e601e62a0722546c&amp;source=constructor" width="100%" height="400" frameborder="0")
					div(class="map__absolute p-4 d-flex justify-content-between")
						div(class="map_left")
							img(class="lazyload img__header img-fluid" data-src="img/logo_black.svg" alt="logo")
							p(class="map_p pt-3")
								| Купим Вашу квартиру в <span>Москве.</span><br>Просто. Быстро. Безопасно.
							p(class="py-4")
								| 123112, г. Москва, Пресненская наб., д.12, ММДЦ «Москва Сити», башня Федерация-Восток, офис А6
							div(class="d-flex align-items-center pb-4")
								img(class="lazyload" data-src="img/telephone_g.svg" alt="img")
								a(href="tel:+74959685699" class="pl-2")
									| +7 495 968-56-99
							div(class="map_footer py-4 py-lg-0 pt-lg-4")
								p
									| ООО «Онлайн недвижимость» ИНН 7325152827, ОГРН 1177325004537
						div(class="map_right d-flex flex-column align-items-center")
							img(class="lazyload mb-0 mb-lg-3 mr-3 mr-lg-0" data-src="img/map1.png" alt="map png")
							img(class="lazyload" data-src="img/map2.png" alt="map png")


			div(class="modal fade" id="ModalSliderItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true")
				div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
					div(class="modal-content")
						button(type="button" class="close" data-dismiss="modal" aria-label="Close")
							span(aria-hidden="true")
								| &times;
						div(class="modal-body")
							a(class="slider__item p-3"  data-toggle="modal" data-target="#ModalSliderItem")
								div(class="slider__preview")
									img(src="img/anthony-tran-1133321-unsplash.png" class="w-100" alt="png")
								div(class="slider__content d-flex align-items-start pt-3")
									img(class="lazyload" data-src="img/ap.svg" alt="img")
									p(class="pl-3")
										| «Повседневная практика показывает, что укрепление и развитие структуры играет важную роль в формировании системы обучения кадров, соответствует насущным потребностям.»
			footer(class="footer  pb-5")
				div(class="container")
					div(class="row")
						div(class="col-12 col-lg-3 footer__first")
							img(class="lazyload" data-src="img/logo_black.svg" alt="logo")
							p(class=" pt-4")
								| Купим Вашу квартиру в <span>Москве.</span><br>Просто. Быстро. Безопасно.
							a(href="#" class="d-block my-4")
								| Политика конфиденциальности
							p(class="footer__dop")
								| © 2018 ООО «Онлайн недвижимость», официальный сайт, все права защищены.
						div(class="col-12 col-lg-2 footer__second d-flex flex-column")
							span(class="pb-4 footer__header w-100 d-flex justify-content-start align-items-center")
								| Услуги
							a(href="#" class="")
								| Обратный звонок
							a(href="#" class="mt-2")
								| Выезд оценщика
							a(href="#" class="mt-2")
								| TRADE-IN квартир
						div(class="col-12 col-lg-2 footer__second d-flex flex-column")
							span(class="pb-4 footer__header w-100 d-flex justify-content-start align-items-center")
								| О КОМПАНИИ
							a(href="#" class="")
								| Преимущества
							a(href="#" class="mt-2")
								| Как это работает
							a(href="#" class="mt-2")
								| Отзывы
							a(href="#" class="mt-2")
								| О Нас
						div(class="col-12 col-lg-2 footer__second d-flex flex-column")
							span(class="pb-4 footer__header w-100 d-flex justify-content-start align-items-center")
								| НАВИГАЦИЯ
							a(href="#" class="")
								| Покупка
							a(href="#" class="mt-2")
								| Продажа квартир
							a(href="#" class="mt-2")
								| Агентствам
							a(href="#" class="mt-2")
								| Вакансии
						div(class="col-12 col-lg-3 footer__third d-flex flex-column align-items-end")
							a(class="btn  footer__header btn__phone pb-4  w-100 d-flex justify-content-start align-items-center mb-4 mt-4 mt-lg-0"  href="tel:+74959685699")
								img(src="img/telephone_g.svg" alt="img")
								span(class="phone pl-3")
									| +7 495 968-56-99
							p(class="text-right")
								| г. Москва, Пресненская наб., д.12, <br>башня Федерация-Восток, офис А6
							a(href="mailto:info@beri.ru" class="mt-3 my-5")
								img(class="lazyload mr-2" data-src="img/envelope.svg" alt="img")
								| info@beri.ru
							div(class="social d-flex align-items-center justify-content-end")
								a(href="#")
									img(class="lazyload" data-src="img/Facebook.svg" alt="img")
								a(href="#")
									img(class="lazyload" data-src="img/telegram.svg" alt="img")
								a(href="#")
									img(class="lazyload" data-src="img/in.svg" alt="img")
								a(href="#")
									img(class="lazyload" data-src="img/vk.svg" alt="img")
			script(src="js/main.min.js")
