.warning__info{
	background-color: #fff;
	.warning__info_item {

		height: 100%;
		background-color: #fff;
		border-radius: 4px;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.16);
		@media (max-width: 399.99px) {
			margin-top: 2rem;
		}
	}
}