.calc {
	position: relative;
	p {
		font-size: 1.6rem;
	}
	.calc__hedaer {
		font-weight: bold;
	}
	.calc_wrap {
		height: 100px;
		overflow: hidden;
		border-bottom: 1px solid #E2E2E2;
		&.border_none {
			border: none;
		}
		@media (max-width: 981.98px) {
			overflow: unset;
			height: auto;
			position: absolute;
			bottom: 76%;
			left: 50%;
			transform: translateX(-50%);
			width: 90%;
		}
		span {
				font-size: 1.6rem;
				line-height: 26px;
			}

		.select__price {
			.select__price_abs {
				position: relative;
				width: 130px;
			}
			.select__price_wrap {
				width: 100%;
				height: 25px;
				overflow: hidden;
				position: absolute;
				top: 0; right: 30px;
			}
			img {
				width: 113px;
				&.img__arrow {
					width: 20px;
					cursor: pointer;
				}
			}
			.select__item {
				overflow: hidden;
				height: 25px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}
		}
	}
	.calc__item {
		border-bottom: 1px solid #E2E2E2;
		height: 50px;
		span {
			color: #676767;
			font-size: 1.4rem;
		}
		&.calc__item_footer {
			height: unset;
			border: 0!important;
			span {
				font-weight: normal;
			}
			.calc__item_footer_final {
				font-size: 2.4rem;
				font-weight: bold;
				color: #000;
			}
			.calc__item_footer_time {
				font-weight: bold;
			}
		}
	}
	.calc_beri {
		background-color: $mainColor;
		border-radius: 4px;
		.calc__item {
			border-bottom: 1px solid #fff;
		}
		span {
			color: #fff!important;
			font-weight: bold;
		}
		@media (max-width: 981.98px) {
			margin-right: -15px;
		}
	}
	.calc_simple {
		background-color: #E2E2E2;
		border-radius: 4px;
		.calc__item {
			border-bottom: 1px solid rgba(0, 0, 0, 0.16);
		}
		span {
			color: #000;
		}
		@media (max-width: 981.98px) {
			margin-right: -15px;
		}
	}
	form {
		background-color: #f4f4f4;
		border-radius: 30px;
		padding: 6px;
	}
	input {
		background: none;
		padding: 15px 0 15px 20px;
		color: #000;
		font-weight: bold;
		font-size: 1.6rem;
	}
	.btn {
		box-shadow: unset;
		min-width: unset;
		font-size: 1.2rem;
		padding: 8px 12px;
	}
	.calc__block {
		border: 1px solid rgba(0, 0, 0, .1);
		border-radius: 4px;
		.calc__plus {
			color: #1DBC00;
			font-size: 3rem;
			margin-top: -10px;
		}
	}
	@media (max-width: 981.98px) {
		padding-top: 28rem!important;
		&.calc_no_pad {
			padding-top: 5rem!important;
		}
	}
}