/* INCLUD SASS */
@import "reset/reset.scss";
@import "slick/slick-theme.scss";
@import "slick/slick.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "default/default.scss";
@import 'header/header.scss';
@import "flag/flag.scss";
@import "button/button.scss";
@import "form/form.scss";
@import "social/social.scss";
@import "modalWindow/modal.scss";
@import "calc/calc.scss";
@import "breadcrumb/breadcrumb.scss";
@import "warningInfo/_warningInfo.scss";
@import "beriAbout/_beriAbout.scss";
@import "beriPartners/_beriPartners.scss";
@import "question/_question.scss";
@import "map/_map.scss";
@import "client/_client.scss";
@import "case/_case.scss";
@import "footer/footer.scss";


.welcome {
	height: 750px;
	background: url("../img/shutterstock_626699276.png") no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	.welcome_front {
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.35);
		@media (max-width: 981.98px) {
			position: relative;
		}
	}
	&.agency {
		background: url("../img/main-image-agent.png") no-repeat;
		background-position: center top;
		.welcome_front {
			background-color: unset;
		}
	}
	h2 {
		padding-top: 1rem;
		line-height: 80%;
		@media (max-width: 981.98px) {
			padding-top: 4rem;
			line-height: 100%;
		}
	}
}
.block_second {
	@media (max-width: 981.98px) {
		padding-top: 30rem!important;
	}
}
.step {
	position: relative;
	.step_wrap {
		position: relative;
		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 85px;
			right: -10%;
			width: 80px;
			height: 4px;
			border-bottom: 2px dashed rgba(0, 0, 0, 0.38);
			@media (max-width: 981.98px) {
				content: unset;
			}
		}
	}

	&:nth-child(4) {
		.step_wrap:after {
			border: unset;
		}
	}
	&:last-child {
		.step_wrap:after {
			border: unset;
		};
	}
	span {
		position: absolute;
		top: 5%; left: 10%;
		font-size: 4.8rem;
		font-weight: bold;
		color: $mainColor;
	}
	
}


.whenToContact {
	background-color: #F4F4F4;
	.whenToContact__item {
		background-color: #fff;
		h3 {

		}
		p {
			font-size: 1.4rem;
			color: #676767;
		}
		@media (max-width: 981.98px) {
			flex-direction: column;
		}
	}
	.card {
		background: none;
		border: unset;
	}
}

.click_slider, .carouselPartners, .slider_warning_mobile {
	position: relative;
	.slide {
	  height: 100%;
	}
	.sldier_arrow_next{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 30px;
		height: 30px;
		right: -30px;
		top: calc(50% - 15px);
		transform: rotate(-90deg);
		background-color: $mainColor;
		border-radius: 50%;
		cursor: pointer;
		z-index: 99;
		svg {
			&.card_item_arrow {
				fill: #fff;
			}
		}
		@media (max-width: 981.98px) {
			top: 100%;
			right: 10px;
		}
	}
	.sldier_arrow_prev{
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 30px;
		height: 30px;
		left: -30px;
		background-color: $mainColor;
		top: calc(50% - 15px);
		transform: rotate(90deg);
		cursor: pointer;
		z-index: 99;
		svg {
			&.card_item_arrow {
				fill: #fff;
			}
		}
		border-radius: 50%;
		@media (max-width: 981.98px) {
			top: 100%;
			left: 10px;
		}
	}
	.slick-disabled { background-color: #C2C2C2; cursor: unset!important; }
	.slider__item {
		overflow: hidden;
		background-color: #fff;
		p {
			font-size: 1.4rem;
			color: #676767;
			line-height: 24px;
		}
		.slider__content {
			height: 130px;
			img {
				width: 30px;
			}
		}
	}
	.slick-dots {
		bottom: -40px;
		@media (max-width: 981.98px) {
			width: 70%;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.slick-dots li button:before {
		font-size: 6rem;
	}
}
svg #arrow-point-to-right {  opacity: 1!important; }
.modal {
	.modal-content {
		position: relative;
		.close {
			position: absolute;
			right: 0; color: #fff;
			font-size: 3rem;
			top: -45px;
			height: 40px;
			width: 40px;
		}
	}
	
}
.carouselPartners  {
	.partners__item  {
		div {
			height: auto!important;
		}
	}
}



