header {
	position: fixed;
	top: 0; right: 0; left: 0;
	transition: background 0.5s;
	z-index: 1000;
	&.active {
		background-color: rgba(52,58,64,.8)!important;
		transition: background 0.5s;
	}
	&.bg-dark {
		background-color: rgba(52, 58, 64, 0.8)!important;
	}
}
.nav-item {
	.nav-link {
		font-size: 1.4rem;
		line-height: 1.3;
		color: #FFFFFF!important;
		transition: color 0.3s;	
		&.dropdown-toggle::after {
			position: absolute;
			top: 10px;
			right: -10px;
		}
	}

}
.phone {
	font-size: 1.8rem;
	font-weight: bold;
}
@media (max-width: 991.98px) {
	.nav-item {
		justify-content: flex-start!important;
	}
	.dropdown {
		flex-direction: column;
	}
	.navbar_wrap_logo {
		width: 113px;
		@media (max-width: 399.98px) {
			width: 70px;
		}
	}
	.navbar-brand {
		order: 1;
		width: 30%;
		min-width: 84px;
		img {
			min-width: 84px;
			max-width: 100%;
		}
	}
	.navbar-toggler {
		order: 3;
		border: unset;
	}
	.block_phone {
		order: 2;
		width: 50%;
	}
	.footer_info {
		align-items: center!important;
	}
	.navbar-brand_footer {
		order: 1;
		display: flex;
		justify-content: center;
	}
	.address_footer {
		order: 3;
	}
	.phone_footer {
		order: 2;
	}
	.navbar-collapse {
		order: 5;
	}
}