.question {
	background-color: #fff;
	.card {
		border: 1px solid rgba(0, 0, 0, 0.1)!important;
		border-radius: 2px!important;
		p {
			font-size: 1.6rem;
		}
	}
	.card-header {
		background: transparent;
		border: unset;
		h3 {
			font-size: 2rem;
			font-weight: bold;
		}
		.card__arrow {
			transform: rotate(180deg);
			transition: all 0.5s;
			background-color: #F4F4F4;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			svg{
				&.card_item_arrow {
					fill: $mainColor;
				}
			}
		}
		&.collapsed {
			.card__arrow {				
				transition: all 0.5s;		
				transform: rotate(0deg);
				background: transparent;
				width: 30px;
				height: 30px;
				svg{
					&.card_item_arrow {
						fill: #707070;
					}
				}
			}
		}
	}
	.checkbox {
		order: 1px solid #000;
		border-radius: 4px;
	}
	.question__wrap {
		@media (max-width: 981.98px){
			flex-wrap: wrap;
			input {
				width: 100%;
			}
			button {
				width: 100%;
			}
		}
	}
}