.beri__partners {
	background-color: #F4F4F4;
	.partners__item {
		width: 20%;
		div {
			border-radius: 4px;
		}
		img {
			width: 100%;
			max-width: 100%;
		}
	}
	.carousel-control-next, .carousel-control-prev {
		top: 100%;
		color: red; font-size: 4rem; font-weight: bold;
		height: 50px;
		width: 50px;
		display: block;
	}
	.carousel-indicators {
		bottom: unset;
		top: 100%;
		li {
			background-color: rgba(0, 0, 0, .4);
			&.active {
				background-color: red;
			}			
		}
	}
}